body { background: #57c8c9; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 59px; display: flex; }
.block-helper-0 { color: #63753f; font-size: 19px; margin-bottom: 5px; }
.block-product-1 { color: #fa7885; font-size: 17px; margin-bottom: 5px; }
.block-notify-2 { color: #f2ac6; font-size: 13px; margin-bottom: 5px; }
.block-product-3 { color: #ba084c; font-size: 13px; margin-bottom: 5px; }
.block-cache-4 { color: #96a0ad; font-size: 20px; margin-bottom: 5px; }
.block-logger-5 { color: #e451f5; font-size: 17px; margin-bottom: 5px; }
.block-search-6 { color: #a25cb2; font-size: 17px; margin-bottom: 5px; }
.block-order-7 { color: #a0b96b; font-size: 17px; margin-bottom: 5px; }
.block-product-8 { color: #f0b391; font-size: 21px; margin-bottom: 5px; }
.block-order-9 { color: #676c9; font-size: 19px; margin-bottom: 5px; }
.block-payment-10 { color: #7df0a6; font-size: 17px; margin-bottom: 5px; }
.block-search-11 { color: #5a382a; font-size: 18px; margin-bottom: 5px; }